
#contenedor-reportes table {
	border-collapse: collapse;
}

#contenedor-reportes table {
  border: 1px solid black;
}

#contenedor-reportes th {
	border: 1px solid black;
}

#contenedor-reportes td {
	border: 1px solid black;
}

#contenedor-reportes th {
	background-color: #cecece;
}

#contenedor-configuracion img {
	display: block;
	margin-top: 20px;
}

#contenedor-configuracion .actualizacion {
	background-color: #0795bd7d;
	display: inline-block;
	padding: 20px;
	border-radius: 7px;
}